## Use make pip_freeze to update its dependencies

# PyTorch, loose pins because we don't want to reinstall if the docker
# image already has it
torch>=2
torchvision

# Training
hydra-core>=1
pytorch-lightning>=2
einops
wandb
loguru
Unidecode
GitPython
gcsfs

# For tokenization only
tokenizers
transformers

# Wikipedia data
datasets
apache-beam
mwparserfromhell

# Dev
bump-my-version

# Cog requirement. See: https://github.com/replicate/cog/issues/1216
pydantic<2,>=1.9